<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <title>URL Editor 最好用的 URL 编辑器</title>
    <meta
      name="description"
      content="编辑URL的高效工具,方便地优化、缩短、修改和生成各种链接。强大的URL管理功能,为您的网址SEO优化助力。"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="keywords" content="url编辑器 网址编辑 链接修改器 网址优化 链接生成器 网址缩短 url管理">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/link-32x32.svg" />
    <% preact.headEnd %>
    <script
      async
      src="https://z.wiki/autoupload/20240824/7vBx/pwacompat.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% preact.bodyStart %>
    <% preact.bodyEnd %>
  </body>
</html>
